# EditorConfig is awesome: https://EditorConfig.org
# https://marketplace.visualstudio.com/items?itemName=EditorConfig.EditorConfig

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
# 2-spaces on tabkey press
# Whitespace cleanup on save
[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
